.movie {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    min-height: 151px;
    list-style: none;
}
.movie__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-color: #FFFFFF;
}
.movie__link {
    width: 100%;
    height: 100%;
}
.movie__title {
    max-width: 226px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0;
    padding-top: 14px;
    height: 32px;
    overflow: hidden;
}
.movie__button {
    /* background-image: url('../../images/icon__like_invisible.svg'), url('../../images/back__like.svg'); */
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-position: center;
    padding: 10px 0 0 0;
    border: none;
    background-color: #FFFFFF;
}
.movie__button-like {
    background-image: url('../../images/icon__like_invisible.svg'), url('../../images/back__like.svg');
}

.movie__button-like_activ {
    background-image: url('..//../images/icon__like.svg'), url('../../images/back__like.svg');
}
.movie__button-delete {
    background-image: url('../../images/icon-delete.svg');
    background-color:  #F5F5F5;
    border-radius: 50%;
}
button:focus {
    outline: none;
}
.movie__grup {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
}
.movie__durathion {
    font-size: 11px;
    border-top: 1px solid #E8E8E8;
    padding-top: 6px;
    line-height: 1.2;

}
@media screen and (max-width: 768px) {
    .movie {
        max-width: 339px;
    }
  } 

 @media screen and (max-width: 480px) {
    .movie {
        max-width: 300px;
        margin: auto;
    }
    .movie__title {
        font-size: 12px;

    }
}