.about-project {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 110px;
    padding-top: 110px;

}
.about-project__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    column-gap: 40px;
    padding-top: 70px;
    padding-bottom: 110px;
}
.about-project__section {
    display: flex;
    flex-direction: column;
}
.about-project__title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    font-weight: 400;
    margin: 0 0 26px;
}
.about-project__description {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}
.about-project__block {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 36px;
}
.about-project__chart_green {
    background-color: #2BE080;
}
.about-project__chart_white {
    background-color: #F2F2F2;
}
.about-project__chart {
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    text-align: center;
    padding-top: 9px;
}
.about-project__label {
    font-size: 14px;
    line-height: 1.2;
    color: #A0A0A0;
    text-align: center;
    padding-top: 14px;
}
@media screen and (max-width: 768px) {
    .about-project {
        padding: 90px 20px;
        max-width: 668px;
        box-sizing: border-box;
    }
    .about-project__container {
        padding-bottom: 93px;
    }
    .about-project__description {
        font-size: 12px;
        line-height: 1.5;
    }
    .about-project__block {
         grid-template-columns: 140px auto;
  }
}
  @media screen and (max-width: 320px) {
    .about-project {
        padding: 70px 8px;
        max-width: 284px;
    }
    .about-project__container {
        padding-bottom: 4px;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
    }
    .about-project__title {
        margin-bottom: 16px;
        font-size: 18px;
    }
    .about-project__description {
        font-size: 11px;
        line-height: 1.45;
        margin-bottom: 56px;
    }
    .about-project__block {
        grid-template-columns: 100px auto;
    }
    .about-project__label {
        font-size: 11px;
    }
    .about-project__chart {
        font-size: 11px;
    }
  }
