.nav {
    display: flex;
    width: 100%;
    position: relative;
    left: -70px;
    width: calc(100% + 140px);
    background-color: #000000;
}
.nav__bar {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 24px 0;
}
.nav__bar :last-child {
    margin-right: 0;
}
.nav__elem {
    margin-right: 40px;
}
.nav__link {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
}
@media screen and (max-width: 768px) {
    .nav {
        left: -30px;
        width: calc(100% + 60px);
    }
  }
 
  @media screen and (max-width: 320px) {
    .nav {
        left: -10px;
        width: calc(100% + 20px);
     
    }
  }